<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
      <add key="REPOSITORY_URL" value="https://github.com/danix799/EdmoCodeGenerator" />
      <add key="LEFT_TAG_UNPROCESSING" value="'{'{'" />
      <add key="RIGHT_TAG_UNPROCESSING" value="'}'}'" />
   </appSettings>
</configuration>